@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

$header-background-color: #000;
$font-main: Roboto, Helvetica, Arial, sans-serif;
$font-weight-normal: 300;
$font-weight-bold: 400;
$font-weight-heavy: 600;
$color-main: #000; 
$color-background: #fff;
$white: #fff;
$black: #000; 
$logo-width: 191px;
$red: #d0011b;
$card-width: 256px;
$card-height: 130px;

$small: screen and (max-width: 850px);
$medium: screen and (max-width: 1024px);
$medium-plus: screen and (max-width: 1124px);
$large: screen and (max-width: 1200px);

$small-min: screen and (min-width: 850px);
$medium-min: screen and (min-width: 1024px);
$medium-plus-min: screen and (min-width: 1124px);
$large-min: screen and (min-width: 1200px);



