.product-list {
    width: 100%;
    height: 130px;
    background-color: $white;
    @mixin clearfix;
    
    overflow-x: auto;
    overflow-y: hidden;
    
    ul {
        height: auto;
        @media $list-point {
            width: calc($card-width*5);
        }
        @media $medium {
            width: calc($card-width*5);
        }
        display: block;
        
        li {
            cursor: pointer;
            float: left;
            width: 20%;
            min-width: 240px;
            height: $card-height;
            background-color: $white;
            border-right: 1px solid black;
            &.last {
                border-right: 0 solid transparent;
            }
            &:hover {
                .product-additional-content{
                    bottom: -$card-height;
                    opacity: 1;
                    visibility: visible;
                }
            }

            .product-additional-content {
                cursor: default;
                position: absolute;
                bottom: calc(- 255px - $card-height);
                left: 0;
                height: 266px;
                width: 255px;
                background: $white;
                display: block;
                opacity: 0;
                visibility: hidden;
                transition: all .3s ease .1s;
                box-shadow: -3px 3px 23px rgba(0, 0, 0, 0.33);
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                .cta-bonus {
                    margin-top: 20px;
                }
                .bonus {
                    margin-top: 90px;
                    text-align: center;
                    .label{
                        color: #4f4f4f;
                        font-size: 12px;
                        font-weight: 300;   
                    }
                    .bonus-content {
                        color: #4f4f4f;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 18px;
                    }
                }

                .cta-bonus{
                    .get-bonus-cta {
                        @mixin button;
                        width: 135px;
                        height: 53px;
                        display: inline-block;
                    }
                    span {
                        float: right;
                        padding-top: 14px;
                        a {
                            color: #4f4f4f;
                            font-size: 13px;
                            font-weight: 500; 
                        }
                    }
                }
                                        
                
            }

            @media $medium {
                width: 20%;
            }

            @media $small {
                width: 20%;
            }


            .product-main-content {
                width: 215px;
                max-width: 215px;
                margin: 0 auto;
                padding-top: 24px;
                .left {
                    float: left;
                    .logo {
                        width: 111px;
                        height: 50px;
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                    .user-rating {
                        width: 111px;
                        margin-top: 15px;
                        img {
                            display: block;
                            margin: 0 auto;
                        }
                    }
                }

                .right {
                    float: right;
                    .score {
                        line-height: 50px;
                        color: #0278d1;
                        font-size: 64px;
                        font-weight: 500;
                    }
                    .score-label {
                        text-align: center;
                        color: #bbb;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 12px;
                        margin-top: 18px;
                    }
                }
            }
        }
    }
}